*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Packaging Directories
node_modules/**/*
npm-debug.*
package-lock.json
yarn.lock

# Android App Directories
android/.idea/
android/.gradle/
android/build/
android/app/build/
android/app/release/

# Expo Directories
.expo/
run/
